* {
  padding: 0px;
  margin: 0px;
}
/* header section */
.head {
  background-color: #e554731a;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
}
.headtitle {
  font-size: 42px;
  font-weight: 800;
  color: #272727;
  margin-top: 0px;
  padding: 32px;
}
.headdesc {
  font-size: 14px;
  font-weight: 400;
  color: #27272799;
  padding-bottom: 32px;
  margin-left: 32px;
}
.primarybtn {
  background-color: #e55473;
  color: white;
  cursor: pointer;
  padding: 18px 38px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  border: 0px;
  margin-left: 32px;
}
.headimg {
  width: 480px;
  height: 580px;
  padding: 50px 0px 0px 50px;
}


/* main section */



/* instagram section */

.insta{
    text-align: center;
    padding-top: 50px;
}

.instatitle{
    color: #272727;
font-size: 40px;
font-weight: 800; 
}

.instadesc{
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400; 
padding: 25px;
}

.instaimgs{
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.instaimg{
    width: 225px;
height: 300px; 
}

/* deals section */

.deals{
    background-image: url("./Flower-Asset/Rectangle\ 9.png");
    padding: 180px;
    margin: 100px 200px 0px 200px;
    background-size:contain;
    background-repeat: no-repeat;
    text-align: center;
}

.dealstitle{
    font-size: 40px;
font-weight: 800; 
margin-top: -110px;
color: #272727;
}
.dealsdesc{
    color: rgba(39, 39, 39, 0.60);
font-size: 15px;
font-weight: 400; 
padding: 4px 0px 24px ;
}

.mail-inp{
    width: 385px;
height: 44px;
padding: 10px;
border-radius: 8px;
border: none;
text-align: left;
}

/*footer section  */

.foot{
    background-color: #111010;
    color: white;
    text-align: center;
    padding: 100px;
}

.foottitle{
    font-size: 48px;
font-weight: 800; 
padding: 24px;
}
span{
    color: #E55473;
}
.footdesc1{
    font-size: 18px;
font-weight: 400; 
padding-bottom: 30px;
}
.footdesc2{
    font-size: 16px;
font-weight: 400; 
color: rgba(255, 255, 255, 0.40);
padding-top: 30px;
}
